* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	line-height: 1.4;
  font-family: 'Asap', sans-serif;
}

ol, ul {
	list-style: none;
}

/* Variables */
:root {
  --leo-blue: #348ba2;
  --leo-gold: #707118;
	--offwhite: #efe5e5;
	--disc-green: #64c451;
	--disc-yellow: #e2e47b;
	--disc-red :#f54242;
	--gear-grey: #b5b0af;
	--tracks-grey: #464343;
}

/* Navbar */
.nav{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 110%
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 200%;
}

.navbar-default .navbar-brand {
  color: var(--offwhite);
}

.navbar-default .navbar-brand:visited {
  color: var(--offwhite);
}

.navbar-default .navbar-nav>li>a {
    color: var(--offwhite);
}
.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border: 0;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:visited {
    color: var(--offwhite);
}

.navbar-default .navbar-nav > li > a {
  transition: background-color 0.2s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: var(--leo-blue);
  background-color: var(--offwhite);
}

.navbar-default .navbar-collapse {
  border: 0;
}

/* Banner */

.banner-section {
  height: 100vh;
  background: url('../assets/img/paul_bh.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--leo-blue);
}

.banner-section .jumbotron {
  background-color: transparent;
}

.banner-section h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 400%;
  text-shadow: 2px 2px 10px #000000;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 2px solid var(--leo-gold);
  color: var(--leo-gold);
}

blockquote footer {
  color: #7a9fa5;
}

.rec-labels {
  font-size: 70%;
	font-style: italic;
	color: var(--offwhite);
}

/* About Section */

.about-section p {
	font-size: 130%;
	font-weight: 500;
	margin-top: 20px;
}

.about-section h2 {
	margin-bottom: 4px;
}

.underline {
  width: 150px;
  height: 1.5px;
	margin: 0 auto;
  border: 0;
  background-color: var(--leo-gold);
}

.underline-b {
  width: 110px;
}

.underline-c {
  width: 132px;
}

hr.green{
	border-top: 5px solid var(--disc-green);
	width: 35%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Discography */

.thumbnail {
    margin-bottom: 10px;
    background-color: var(--disc-yellow);
    border: 1px solid #ddd;
    border-radius: 4px;
}

a.thumbnail:hover, a.thumbnail:active {
    border-color: #7dc3c3;
}

.discog {
	margin-top: 100px;
}

.disc {
	font-size: 50px;
	margin-bottom: 40px;
	color: var(--disc-red);
}

.crow {
	margin-bottom: 20px;
}

.release img{
	width: 700px;
	height: auto;
}

.tracklist {
	background-color: #f5f4d1;
}

/* GEAR SECTION*/

.gear-section h2 {
	margin: 60px 0 10px;
}

hr.blue{
	border-top: 5px solid var(--leo-blue);
	width: 25%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.img-container{
	max-width: 700px;
	margin: auto;
	background: var(--gear-grey);
}

.gear-section h3 {
	color: white;
	font-size: 50px;
	background-color: white;
	margin: 0;
}

.main-img img,
.imgs img {
	width: 100%;
}

.imgs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2px;
	cursor: crosshair;
}

/* fade in animation*/
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
}

/* TRACKS SECTION*/

.tracks-section {
  /*height: 100vh;*/
  background: url('../assets/img/spinning.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: var(--offwhite);
}

.tracks-section h2 {
	color: var(--leo-gold);
	font-family: 'Ubuntu', sans-serif;
  font-size: 300%;
  text-shadow: 2px 2px 10px var(--disc-yellow);
	margin-bottom: 50px;
}

.artist {
	font-weight: bold;
	color: var(--offwhite);
}

.sample {
	margin-bottom: 30px;
}

.sample p {
	font-size: 16px;
	font-weight: bold;
	color: var(--leo-blue);
}

.player {
	padding: 25px 0;
}

/*Contact form*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  /*position: relative;*/
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
	color: var(--leo-blue);
}

#contactForm {
  /*position: relative;*/
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 470px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.contact-section {
  background: var(--offwhite);
  color: var(--tracks-grey);
}

.alert {
	text-align: center;
	padding: 10px;
	background: var(--disc-green);
	display: none;
}

/* MEDIA QUERIES*/
@media(min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  }
}

@media(max-width: 767px) {
  .navbar-default {
    background-color: #222322;
}
	.navbar {
	  position: relative;
	}
	.release {
		width: 370px;
		height: auto;
		margin: 0 auto;
	}

	#contactForm {
	  max-width: 350px;
	  margin: 50px auto 100px auto;
	}

	input {
	  max-width: 350px;
	}

	textarea {
	  max-width: 350px;
	}

	#submit {
	  max-width: 350px;
	}
}

@media(min-width: 1200px){
	.four {
		min-height: 180px;
	}
}
