* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	line-height: 1.4;
  font-family: 'Asap', sans-serif;
}

ol, ul {
	list-style: none;
}

/* Variables */
:root {
  --leo-blue: #348ba2;
  --leo-gold: #707118;
	--offwhite: #efe5e5;
	--disc-green: #64c451;
	--disc-yellow:#e2e47b;
	--disc-red:#f54242;
}


/* Navbar */

.nav{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 110%
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 200%;
}

.navbar-default .navbar-brand {
  color: var(--offwhite);
}

.navbar-default .navbar-brand:visited {
  color: var(--offwhite);
}

.navbar-default .navbar-nav>li>a {
    color: var(--offwhite);
}
.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border: 0;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:visited {
    color: var(--offwhite);
}

.navbar-default .navbar-nav > li > a {
  transition: background-color 0.2s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: var(--leo-blue);
  background-color: var(--offwhite);
}

.navbar-default .navbar-collapse {
  border: 0;
}


/* Banner */

.banner-section {
  height: 100vh;
  background: url('../assets/img/paul_bh.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--leo-blue);
}

.banner-section .jumbotron {
  background-color: transparent;
}

.banner-section h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 400%;
  text-shadow: 2px 2px 10px #000000;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 2px solid var(--leo-gold);
  color: var(--leo-gold);
}

blockquote footer {
  color: #7a9fa5;
}

.rec-labels {
  font-size: 70%;
	font-style: italic;
	color: var(--offwhite);
}

/* About Section */

.about-section p {
	font-size: 130%;
	font-weight: 500;
	margin-top: 20px;
}

.about-section h2 {
	margin-bottom: 4px;
}

.underline {
  width: 150px;
  height: 1.5px;
	margin: 0 auto;
  border: 0;
  background-color: var(--leo-gold);
}

.underline-b {
  width: 110px;
}

.underline-c {
  width: 132px;
}

hr.green{
	border-top: 5px solid var(--disc-green);
	width: 35%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Discography */

.thumbnail {
    margin-bottom: 10px;
    background-color: var(--disc-yellow);
    border: 1px solid #ddd;
    border-radius: 4px;
}

a.thumbnail:hover, a.thumbnail:active {
    border-color: #7dc3c3;
}

.discog {
	margin-top: 100px;
}

.disc {
	font-size: 50px;
	margin-bottom: 40px;
	color: var(--disc-red);
}

.release {/*
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
}




.crow {
	/*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
		margin-bottom: 20px;
}

.release img{
	width: 700px;
	height: auto;
}

.tracklist {
	background-color: #f5f4d1;
}




/* MEDIA QUERIES*/
@media(min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  }
}

@media(max-width: 767px) {
  .navbar-default {
    background-color: #222322;
}
	.navbar {
	  position: relative;
	}

	.crow {

	}



	.release {
		width: 370px;
		height: auto;
		margin: 0 auto;
	}
}

@media(min-width: 1200px){
	.four {
		min-height: 180px;
	}
}
