* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	line-height: 1.4;
  font-family: 'Asap', sans-serif;
}

ol, ul {
	list-style: none;
}

/* Variables */
:root {
  --leo-blue: #348ba2;
  --leo-gold: #707118;
	--offwhite: #efe5e5;
	--disc-green: #64c451;
	--disc-yellow: #e2e47b;
	--disc-red :#f54242;
	--gear-grey: #b5b0af;
	--tracks-grey: #464343;
}

/* Navbar */
.nav{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 110%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 200%;
}

.navbar-default .navbar-brand {
  color: var(--offwhite);
}

.navbar-default .navbar-brand:visited {
  color: var(--offwhite);
}

.navbar-default .navbar-nav>li>a {
    color: var(--offwhite);
}
.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border: 0;
  transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:visited {
    color: var(--offwhite);
}

.navbar-default .navbar-nav > li > a {
  transition: background-color 0.2s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: var(--leo-blue);
  background-color: var(--offwhite);
}

.navbar-default .navbar-right > li > a:hover {
  background-color: transparent;
}

.navbar-default .navbar-right > li > a {
	margin-top: -15px;
}


.navbar-default .navbar-collapse {
  border: 0;
}

/* Banner */

.banner-section {
  height: 100vh;
  background: url('../assets/img/paul_bh.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: center;
	display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--leo-blue);
	z-index: -1;
}

/*
.banner-section {
	display: table;
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	background-image: url('../assets/img/paul_bh.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	color: var(--leo-blue);
}*/

.banner-section .jumbotron {
  background-color: transparent;
}

.banner-section h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 400%;
  text-shadow: 2px 2px 10px #000000;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 2px solid var(--leo-gold);
  color: var(--leo-gold);
	max-width: 700px;
}

blockquote footer {
  color: #7a9fa5;
}

.rec-labels {
  font-size: 70%;
	font-style: italic;
	color: var(--offwhite);
}

/* About Section */

.about-section p {
	font-size: 130%;
	font-weight: 500;
	margin-top: 20px;
}

.about-section h2 {
	margin-bottom: 4px;
}

.underline {
  width: 150px;
  height: 1.5px;
	margin: 0 auto;
  border: 0;
  background-color: var(--leo-gold);
}

.underline-b {
  width: 110px;
}

.underline-c {
  width: 132px;
}

hr.green{
	border-top: 5px solid var(--disc-green);
	width: 35%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Discography */

.thumbnail {
    margin-bottom: 10px;
    background-color: var(--disc-yellow);
    border: 1px solid #ddd;
    border-radius: 4px;
}

a.thumbnail:hover, a.thumbnail:active {
    border-color: #7dc3c3;
}

.discog {
	margin-top: 100px;
}

.disc {
	font-size: 50px;
	margin-bottom: 40px;
	color: var(--disc-red);
}

.crow {
	margin-bottom: 20px;
}

.release img{
	width: 500px;
	height: auto;
}

.tracklist {
	background-color: #f5f4d1;
}

/* GEAR SECTION*/

.gear-section h2 {
	margin: 60px 0 10px;
}

hr.blue{
	border-top: 5px solid var(--leo-blue);
	width: 25%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.img-container{
	max-width: 700px;
	margin: auto;
	background: var(--gear-grey);
}

.gear-section h3 {
	color: white;
	font-size: 50px;
	background-color: white;
	margin: 0;
}

.main-img img,
.imgs img {
	width: 100%;
}

.imgs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2px;
	cursor: crosshair;
}

/* fade in animation*/
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
}

/* TRACKS SECTION*/

.tracks-section {
  /*height: 100vh;*/
  background: url('../assets/img/spinning.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: var(--offwhite);
}

.tracks-section h2 {
	color: var(--leo-gold);
	font-family: 'Ubuntu', sans-serif;
  font-size: 300%;
  text-shadow: 2px 2px 10px var(--disc-yellow);
	margin-bottom: 50px;
}

.artist {
	font-weight: bold;
	color: var(--offwhite);
}

.sample {
	margin-bottom: 30px;
}

.sample p {
	font-size: 16px;
	font-weight: bold;
	color: var(--leo-blue);
}

.player {
	padding: 25px 0;
}

/* Podcast Section */

a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: -5px;
}
#accordion .panel-heading{
    padding: 0;
    border-radius: 0;
    border: none;
    text-align: center;
}
#accordion .panel-title a{
    display: block;
    padding: 25px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #333;
    border-bottom: 1px solid #4a4a4a;
    position: relative;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a:hover{
    background: #4a4a4a;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
    content: "\f067";
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    top: 25px;
    left: 15px;
    transform: rotate(135deg);
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:after{
    transform: rotate(0deg);
}
#accordion .panel-body{
    background: #167ea0;
    padding: 0 0 0 40px;
    border: none;
    position: relative;
}
#accordion .panel-body ul{
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    background: #3296b7;
    padding: 30px;
    margin: 0;
}
#accordion .panel-collapse .panel-body ul{
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out 0s;
}
#accordion .panel-collapse.in .panel-body ul{
    opacity: 1;
    transform: scale(1);
}

.podcast-section h2 {
	font-weight: 500;
	color: var(--leo-blue);
}

.podcast-section {
	margin-top: 30px;
	margin-bottom: 50px;
}

li.pod {
	margin-top: 5%;
}

li.pod a {
	color: var(--offwhite);
	background-color: var(--disc-red);
	padding: 2%;
	border-radius: 8%;
	font-weight: bolder;
}

.playlist {
	text-transform: uppercase;
	color: var(--disc-yellow);
	font-weight: bolder;
}


/*Contact form*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  /*position: relative;*/
  margin: 50px 0 5px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
	color: var(--leo-blue);
}

#contactForm {
  /*position: relative;*/
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 470px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.contact-section {
  background: var(--offwhite);
  color: var(--tracks-grey);
}

.alert {
	text-align: center;
	padding: 10px;
	background: var(--disc-green);
	width: inherit;
	display: none;
}

/* Footer */

.section-footer footer {
	background: var(--tracks-grey);
	color: var(--offwhite);
}

.section-footer footer p {
	margin-bottom: 0;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* MEDIA QUERIES*/
@media(min-width: 768px) {
  .navbar-default {
    background-color: transparent;
  }
}

@media(max-width: 767px) {
  .navbar-default {
    background-color: #222322;
}
	.navbar {
	  position: relative;
	}

	blockquote {
	  padding: 10px 20px;
	  margin: 0 0 20px;
		max-width: 500px;
	}

	.release {
		width: 300px;
		height: auto;
		margin: 0 auto;
	}

	#contactForm {
	  max-width: 350px;
	  margin: 50px auto 100px auto;
	}

	input {
	  max-width: 350px;
	}

	textarea {
	  max-width: 350px;
	}

	#submit {
	  max-width: 350px;
	}

	.social-circle li a {
		width: 30px;
		height: 50px;
		font-size:20px;
	}
	.social-circle li i {
		line-height:50px;
	}

	.tracks-section {
	  background: url('../assets/img/spinning_s.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  position: relative;
	}
}

@media(max-width: 380px) {
	a.thumbnail{
		width: 300px;
	}

	div.text-center.tracklist {
		min-width: 300px;
		max-width: 300px;
	}


	#contactForm {
	  max-width: 300px;
	  margin: 50px auto 100px auto;
	}

	input {
	  max-width: 300px;
	}

	textarea {
	  max-width: 300px;
	}

	#submit {
	  max-width: 300px;
	}

	.tracks-section p {
		font-size: 13px;
	}
}

@media (max-width: 450px) {
	#accordion .panel-body{
	    background: #167ea0;
	    padding: 0 0 0 10px;
	}
	#accordion .panel-body ul{

	    background: #3296b7;
	    padding: 10px;
	    margin: 0;
	}
}

@media(min-width: 1200px){
	.four {
		min-height: 180px;
	}
}

@media(max-width: 1100px){
	.navbar-default .navbar-right {
		display: none;
	}
}

@media(max-width: 991px) {
	blockquote {
	  padding: 10px 20px;
	  margin: 0 0 20px;
		max-width: 500px;
	}

	.banner-section {
	  height: 100vh;
	  background: url('../assets/img/paul_sm.png') no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
		background-position: center;
		display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;
	  color: var(--leo-blue);
		z-index: -1;
	}
}

@media(min-width: 991px) {
	blockquote {
	  padding: 10px 20px;
	  margin: 0 0 20px;
		max-width: 700px;
	}
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
